.contents
  = render partial: "layouts/side_var" 

  .chat-main
    .main-header
      .main-header__left-contents
        .main-header__left-contents__current-group
          = @group.name
        .main-header__left-contents__current-group-member
          = "Member : "
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(@group), class: "main-header__edit-btn"
        
    .messages
      - @messages.each do |message|
        = render partial: "message", locals: { message: message }

    .form
      = form_for [@group, @message] do |f|
        .form__new
          .form__new__input-box
            = f.text_field :content, class: "form__new__input-box__text", placeholder: "type a message"
            = f.label :image, class: "form__new__input-box__text--file-upload" do
              = fa_icon "picture-o", class: "form__new__input-box__ text--file-upload--image-icon"  
              = f.file_field :image, class: "form__new__input-box__text--file-upload--selector"
          = f.submit 'Send', class: "form__new__send-btn"


    